<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Cardigan deep v kitsch yr. PBR meggings hella, Blue Bottle drinking vinegar
       listicle locavore fingerstache Echo Park plaid Thundercats High Life.
       Small batch you probably haven't heard of them freegan photo booth cronut
       Pitchfork.</p>
     <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary" %></p>

   </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>


  <% end %>
</div>
